In [1]:
#importings
import pandas as pd
import numpy as np
import plotly.express as px
import user_agents
from sklearn.preprocessing import OneHotEncoder
from category_encoders import BinaryEncoder
from sklearn.model_selection import train_test_split

# Questions

- Profit = cash - taxes (0.14)
- Analyize all sales profit
- What is the profit for each weekday
- What is the profit from each city

In [97]:
#read the Sales.csv dataset 
df=pd.read_csv("Sales.csv")
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700$,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0$,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95$,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99$,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95$,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95$,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84$,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400$,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99$,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99$,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

## 1. Distniguesh features

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25037 non-null  object
 2   Quantity Ordered  25037 non-null  object
 3   Price Each        25117 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

## 2. Data cleaning

**Problems**

- Numerical
    - Quantity Ordered is not numerical
    - Price Each not numerical
- Categorical
    - Product columns has 'Product' value

### Removing null values and convert it with mean and convert cloumns into float

In [99]:
#find unique values in quantity
df['Quantity Ordered'].unique()

array(['1', '2', '4', '3', 'Quantity Ordered', nan, '7', '5', '6'],
      dtype=object)

In [100]:
#write a function to fix the quantity and apply it on the quantity column
df['Quantity Ordered']=pd.to_numeric(df['Quantity Ordered'],errors='coerce')
df['Quantity Ordered']=df['Quantity Ordered'].fillna(df['Quantity Ordered'].mean)

In [101]:
#check the dataframe again
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25037 non-null  object
 2   Quantity Ordered  25117 non-null  object
 3   Price Each        25117 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [102]:
#check unqiues values in Price
df['Price Each'].unique()

array(['1700$', '600.0$', '11.95$', '149.99$', '3.84$', '99.99$', '2.99$',
       '999.99$', '14.95$', '600$', '11.99$', '150$', '400$', '700$',
       '109.99$', '379.99$', '300$', '389.99$', 'Price Each$', 'nan$'],
      dtype=object)

In [103]:
df['Price Each']

0          1700$
1         600.0$
2         11.95$
3        149.99$
4         11.95$
          ...
25112     14.95$
25113      3.84$
25114       400$
25115     11.99$
25116     99.99$
Name: Price Each, Length: 25117, dtype: object

In [104]:
#write a function to fix the price and apply it to the Price column
def removing_sign(x):
    return x[:-1]
df['Price Each']=df['Price Each'].apply(removing_sign)
df['Price Each']=pd.to_numeric(df['Price Each'],errors='coerce')

In [110]:
df['Price Each']

0        1700.0
1         600.0
2         11.95
3        149.99
4         11.95
          ...
25112     14.95
25113      3.84
25114     400.0
25115     11.99
25116     99.99
Name: Price Each, Length: 25117, dtype: object

In [111]:
df['Price Each'] = pd.to_numeric(df['Price Each'],errors='coerce')

In [112]:
df['Price Each']

0        1700.00
1         600.00
2          11.95
3         149.99
4          11.95
          ...
25112      14.95
25113       3.84
25114     400.00
25115      11.99
25116      99.99
Name: Price Each, Length: 25117, dtype: float64

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25037 non-null  object
 2   Quantity Ordered  25117 non-null  object
 3   Price Each        24989 non-null  float64
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.1+ MB

In [108]:
df['Price Each']=df['Price Each'].fillna(df['Price Each'].mean)

In [109]:
#check now the data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25037 non-null  object
 2   Quantity Ordered  25117 non-null  object
 3   Price Each        25117 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [75]:
#find unique values in Product
df['Product'].unique()

array(['Macbook Pro Laptop', 'LG Washing Machine', 'USB-C Charging Cable',
       '27in FHD Monitor', 'AA Batteries (4-pack)',
       'Bose SoundSport Headphones', 'AAA Batteries (4-pack)',
       'ThinkPad Laptop', 'Lightning Charging Cable', 'Google Phone',
       'Wired Headphones', 'Apple Airpods Headphones', 'Vareebadd Phone',
       'iPhone', '20in Monitor', '34in Ultrawide Monitor',
       'Flatscreen TV', '27in 4K Gaming Monitor', 'Product', nan,
       'LG Dryer'], dtype=object)

In [76]:
df['Product']=df['Product'].fillna(df['Product'].mode()[0])

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25117 non-null  object
 2   Quantity Ordered  25117 non-null  object
 3   Price Each        25117 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [9]:
#fix them, if you think there's something that doesn't make sense

In [63]:
df['Purchase Address']=df['Purchase Address'].fillna(df['Product'].mode()[0])

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25117 non-null  object
 2   Quantity Ordered  25117 non-null  object
 3   Price Each        25117 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25117 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

# Handle Duplicated values

In [82]:
#check if there are duplicates in the dataset
df.duplicated().value_counts()

False    24951
True       166
dtype: int64

In [85]:
#drop duplicates
df.drop_duplicates(inplace=True)

In [92]:
#DO NOT FORGET TO RESET THE INDEX
df.reset_index()

,index,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,0,295665,Macbook Pro Laptop,1.0,1700.0,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,1,295666,LG Washing Machine,1.0,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,2,295667,USB-C Charging Cable,1.0,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,3,295668,27in FHD Monitor,1.0,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,4,295669,USB-C Charging Cable,1.0,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...,...
24946,25112,319666,Lightning Charging Cable,1.0,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
24947,25113,319667,AA Batteries (4-pack),2.0,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
24948,25114,319668,Vareebadd Phone,1.0,400.0,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
24949,25115,319669,Wired Headphones,1.0,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
24950,25116,319670,Bose SoundSport Headphones,1.0,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

# Missing Values

In [13]:
#check missing values

In [14]:
#check percentage of missing values

In [15]:
#deal with them in a suitable way ( drop/ replace )

In [16]:
#recheck them again

# Handle Outliers

In [ ]:
!pip install datasist

In [93]:
from datasist.structdata import detect_outliers

In [95]:
#predict outliers in the data and deal with them in a suitable way

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24951 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          24950 non-null  object
 1   Product           24951 non-null  object
 2   Quantity Ordered  24951 non-null  object
 3   Price Each        24951 non-null  object
 4   Order Date        24950 non-null  object
 5   Purchase Address  24950 non-null  object
dtypes: object(6)
memory usage: 1.8+ MB

# Feature Engineering

### Calculate the *Profit*
Rule: Profit = cash - taxes (0.14)

In [114]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1.0,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1.0,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1.0,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1.0,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1.0,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1.0,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2.0,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1.0,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1.0,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1.0,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [115]:
#write a function to calculate the profit  according to the above rule
df['Profit']=df['Price Each']*df['Quantity Ordered']-(df['Price Each']*df['Quantity Ordered'])*0.14

In [116]:
#create a new column in the dataframe by applying the function to it
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Profit
0,295665,Macbook Pro Laptop,1.0,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",1462.0
1,295666,LG Washing Machine,1.0,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",516.0
2,295667,USB-C Charging Cable,1.0,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",10.277
3,295668,27in FHD Monitor,1.0,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",128.9914
4,295669,USB-C Charging Cable,1.0,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",10.277
...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1.0,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",12.857
25113,319667,AA Batteries (4-pack),2.0,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",6.6048
25114,319668,Vareebadd Phone,1.0,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",344.0
25115,319669,Wired Headphones,1.0,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",10.3114
25116,319670,Bose SoundSport Headphones,1.0,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",85.9914

In [120]:
#write a function to extract the city from the address 

df['split_Purchase_Address']=df['Purchase Address'].str.split(',')

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order ID                25037 non-null  object
 1   Product                 25037 non-null  object
 2   Quantity Ordered        25117 non-null  object
 3   Price Each              24989 non-null  float64
 4   Order Date              25037 non-null  object
 5   Purchase Address        25037 non-null  object
 6   Profit                  24989 non-null  object
 7   split_Purchase_Address  25037 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.5+ MB

In [23]:
#visualize the distribution of the created profit column

In [21]:
#change the order Date column to datetime

In [22]:
#extract the day name from the order Date column

In [ ]:
#explore the profit for each country
#i.e. group by city and return the profit of each city

In [ ]:
#draw boxplot of each city with respect to the profit

In [24]:
#find the first 6 cities with highest profit

In [25]:
#visualize  the first 6 cities with higest profit

In [26]:
#explore the profit for each weekday
#i.e. group by weekday and return the profit of each weekday

In [27]:
#draw boxplot of each weekday with respect to the profit

In [ ]:
#sort the weekday with respect to the profit

In [ ]:
#visualize sort the weekday with respect to the profit